
        <main style="display: flex; align-items: center;"><div class="main">
            <h1 style="color: white; text-align: center; padding: 20px;">Ошибка: {{.}}</h1>
            <h2 style="font-size: 32px; color: white; text-align: center; padding: 20px;">Похоже, произошла ошибка. Пожалуйста, перейдите на <a style="color: white;" href="/">главную страницу.</a></h1>
            <h2 style="font-size: 24px; color: white; text-align: center; padding: 20px;">Или напишите о своей ошибке на почту <a style="color: white;" href="mailto:jahngeor@outlook.com">jahngeor@outlook.com</a></h2>
        </div></main>