        <main><div class="main">
            
            <div class="main-items-post">
                <img src="../../data/img/posts/{{.ContentID}}.jpg" style="
                -o-object-fit: cover;
                object-fit: cover;
                margin: 0 auto;
                margin-bottom: 30px;
                display: block;
                border-radius: 100%;
                width: 200px;
                height: 200px;" alt="">
                <p class="title">{{.Title}}</p>
                <p>{{.Content}}</p>
                <p class="date">Дата публикации: {{.DateOfPublish}}</p>
            </div>
            
        </div></main>